DATABASE_URL="mysql://root:@localhost:3306/thriftmarket"
AUTH_SECRET="ganti-dengan-secret-random-min-32-karakter"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
MIDTRANS_SERVER_KEY="SB-Mid-server-xxx"
MIDTRANS_CLIENT_KEY="SB-Mid-client-xxx"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-xxx"
CRON_SECRET="ganti-secret-cron"
GROQ_API_KEY=""
GROQ_MODEL="openai/gpt-oss-20b"